<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      
      <br />
      {% if site.sidebar-links.github %}
        <a class="sidebar-icon" target="new"
          href="http://github.com/{{ site.sidebar-links.github }}">{% include svg-icons/github.html %}</a>
      {% endif %}
      {% if site.sidebar-links.twitter %}
        <a class="sidebar-icon" target="new"
          href="http://twitter.com/{{ site.sidebar-links.twitter }}">{% include svg-icons/twitter.html %}</a>
      {% endif %}
      {% if site.sidebar-links.facebook %}
        <a class="sidebar-icon" target="new"
          href="http://facebook.com/{{ site.sidebar-links.facebook }}">{% include svg-icons/facebook.html %}</a>
      {% endif %}      
      {% if site.sidebar-links.linkedin %}
        <a class="sidebar-icon" target="new"
          href="http://linkedin.com/in/{{ site.sidebar-links.linkedin }}">{% include svg-icons/linkedin.html %}</a>
      {% endif %}

      <br />

      {% if site.sidebar-links.flickr %}
        <a class="sidebar-icon" target="new"
          href="http://flickr.com/{{ site.sidebar-links.flickr }}">{% include svg-icons/flickr.html %}</a>
      {% endif %}
      {% if site.sidebar-links.instagram %}
        <a class="sidebar-icon" target="new"
          href="http://instagram.com/{{ site.sidebar-links.instagram }}">{% include svg-icons/instagram.html %}</a>
      {% endif %}
      {% if site.sidebar-links.pinterest %}
        <a class="sidebar-icon" target="new"
          href="http://pinterest.com/{{ site.sidebar-links.pinterest }}">{% include svg-icons/pinterest.html %}</a>
      {% endif %}
      {% if site.sidebar-links.stackoverflow %}
        <a class="sidebar-icon" target="new"
          href="http://stackoverflow.com/{{ site.sidebar-links.stackoverflow }}">{% include svg-icons/stackoverflow.html %}</a>
      {% endif %}
          
      {% if site.sidebar-links.rss %}
        <a class="sidebar-icon" target="new"
          href="{{ site.baseurl }}/feed.xml">{% include svg-icons/rss.html %}</a>
      {% endif %}
      {% if site.sidebar-links.dribbble %}
        <a class="sidebar-icon" target="new"
          href="http://dribbble.com/{{ site.sidebar-links.dribbble }}">{% include svg-icons/dribbble.html %}</a>
      {% endif %}
      {% if site.sidebar-links.email %}
        <a class="sidebar-icon" target="new"
          href="mailto:{{ site.sidebar-links.email }}">{% include svg-icons/email.html %}</a>
      {% endif %}
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
